{% extends 'base.html.twig' %}

{% block title %}Book List{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Book List</h1>
        
        <!-- Search Form -->
        <form class="form-inline mb-4" method="get" action="{{ path('book_list') }}">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search by title or author" value="{{ searchTerm }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>
        </form>
<a href="{{ path('book_new') }}" class="btn btn-success mb-3">Add New Book</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Publication Year</th>
                    <th>ISBN</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in pagination.items %}
                    <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.description }}</td>
                        <td>{{ book.publicationYear }}</td>
                        <td>{{ book.isbn }}</td>
                        <td>
                              <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-info btn-sm">Show</a>
                            <a href="{{ path('book_edit', {'id': book.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                            <a href="{{ path('book_delete', {'id': book.id}) }}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}